* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    color: #060270;
    background-color: #DFC57B;
}



.nav {
    display: flex;
    justify-content: center;
    align-items:  center;
    text-align: center;
    margin: 10px 0;
    padding: 0 10px;
    list-style-type: none;
}

.nav li:after {
    content: '|';
    margin-right: 5px;
}

.nav li:last-child::after {
    content: '';
}

.nav-links a {
    text-decoration: none;
    margin-right: 15px;
}


.logo-and-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.partners {
    display: block;
    align-items: center;
    text-align: center;

}

.logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.btn {
    display: flex;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #060270;
    color: #DFC57B;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.btn-style {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.partners-logo {
    align-items: center;
    width: 150px;
    height: 150px;
}

.footer-style {
    justify-content: center;
    align-items: center;
    text-align: center;
    color:#060270;
    background-color: #DFC57b;

}

.footer-logo-and-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.copyright {
    margin: 20px 0;
}

.bwdog {
    height:300px;
    width: 300px;
    display: block;
    margin: 40px auto;
    border-radius: 10px;

}

.wdog {
    width: 350px;
    height: 300px;
    display: block;
    margin: 40px auto;
    border-radius: 15px;
}

.dogs {
    display: flex;
}

h1, .gold {
    color: #060270;
}
main {
    text-align: center;
    margin: 20px;
}

.donate, .product-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

h1, .magic {
    margin: 15px;
}


